@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body {
background-color: antiquewhite;
}

p,
h5 {
    font-family: 'Fjalla One', sans-serif;
    
}

h5,
h1 {
    text-align: center;
}

.card {
    text-align: center;
}